* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'FREESCPT';
    src: local('FREESCPT');
    src: url(../fonts/FREESCPT.TTF);
}

body, html {
    width: 100%;
  }

body {
    min-height: 100vh;
    min-width: 320px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    line-height: 22px;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 101px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 50;
    background-color: white;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

.main_nav {
    display: flex;
    align-items: center;
}

.menu_box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 100px;
    right: -100%;
    width: 100%;
    height: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    background-color: white;
    transition-duration: .5s;
}

#menu_toggle {
    opacity: 0;
    visibility: hidden;
}

.menu_bar { 
    position: relative; 
  }
  
.menu_item {
    font-weight: 500;
    line-height: 2.4;
    color: #555555;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.menu_item::after { 
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 1px;
    width: 0;
    background: #5b6ceb;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.menu_item:hover {
    color: #5b6ceb;

}

.menu_item:hover::after { 
    width: 50%; 
    left: 25%;
}

.menu_btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 34px;
    right: 15px;
    width: 35px;
    height: 33px;
    cursor: pointer;
    z-index: 60;
}

.menu_btn>span,
.menu_btn>span::before,
.menu_btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #5b6ceb;
    transition-duration: .2s;
}

.menu_btn>span::before {
    content: '';
    top: -12px;
}

.menu_btn>span::after {
    content: '';
    top: 12px;
}

#menu_toggle:checked~.menu_btn>span {
    transform: rotate(45deg);
}

#menu_toggle:checked~.menu_btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu_toggle:checked~.menu_btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu_toggle:checked~ul {
    visibility: visible;
    right: 0;
}

main {
    padding-top: 101px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.reservation {
    width: 100%;
    height: 750px;
    display: flex;
}

.banner {
    width: 100%;
    background-image: 
    linear-gradient(to top, rgba(91, 108, 235, .7), rgba(91, 108, 235, .7)),
    url("../img/bg-01.jpg");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.order {
    margin-top: 30px;
    width: 290px;
    height: 390px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    border: none;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .2);
}

fieldset {
    padding: 30px;
    border: 0;
}

.tc {
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 26px;
    line-height: 1;
    font-weight: 600;
    color: #5b6ceb;
    text-transform: uppercase;
}

.order input, .order select {
    padding: 10px;
    margin-bottom: 18px;
    width: 230px;
    height: 50px;
    font-weight: 300;
    color: #777777;
    background-color: #f2f2f2;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input:hover, select:hover {
    background-color: #bac0f1;
}

input:focus, select:focus {
    outline: 0;
    border: 1px solid #5b6ceb;
}

::placeholder {
    color: #b8b8b8;
  }

button {
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 170px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #5b6ceb;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 5px #79787833;
    cursor: pointer;
}

button:focus {
    background-color: #192aa0;
}

.main_text {
    margin-bottom: 55px;
    padding: 0 50px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}

.main_text p {
    padding: 0 10px;
    font-family: FREESCPT;
    font-size: 28px;
    line-height: 1.2;
}

.program {
    padding-top: 30px;
}

h2 {
    padding: 0 40px;
    font-size: 24px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #5b6ceb;
}

.program > p {
    margin-top: 10px;
    font-family: FREESCPT;
    line-height: 1;
    text-align: center;
    font-size: 40px;
    color: #777777;
}

.container_program {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container_class {
    margin: 25px 15px 0 15px;
    width: 290px;
    border-radius: 5px;
    box-shadow: 5px 5px 30px #79787833;
    overflow: hidden;
}

.container_class img {
    width: 100%;
    height: 290px;
}

.container_class div {
    padding: 0 30px;
    width: 290px;
    min-height: 250px;
}

h3 {
    margin: 25px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    color: #777777;
}

.yoga_style {
    color: #999999;
    padding-top: 20px;
}

.gallery {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    width: 50%;
    display: flex;
}

.image img {
    width: 100%;
}

.about_us {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_us h2 {
    margin-bottom: 10px;
    padding: 0 15px;
    text-align: start;
}

.about_us p {
    padding: 0 15px;
}

.about_us .swiper {
    padding: 35px 30px 25px;
}

.about_us .swiper .swiper-slide {
    display: flex;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #79787833;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_us .swiper-button-prev,
.about_us .swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 5px 5px 20px #79787833;
}

.about_us .swiper-button-prev::after,
.about_us .swiper-button-next::after {
    display: none;
}

.elements {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

.elements .banner {
    padding: 50px 0 20px;
    background-image: 
    linear-gradient(to top, rgba(91, 108, 235, .8), rgba(91, 108, 235, .8)),
    url("../img/bg-02.jpg");
}

.container_elements {
    margin: 0 15px 30px 15px;
    width: 290px;
    height: 270px;
    text-align: center;
}

.container_icon {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elements h3 {
    margin: 30px 30px 25px 30px;
    font-weight: 700;
    color: white;
}

.shop .banner {
    padding-top: 20px;
    padding-bottom: 50px;
    background-image: url("../img/bg-03.jpg");
    background-position: right;
}

.container_shop {
    margin: 30px 15px 0 15px;
    width: 290px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px #79787833;
    overflow: hidden;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
}

.container_shop p {
    font-size: 20px;
    text-transform: uppercase;
}

.bg {
    height: 100px;
    background-color: #5b6ceb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg p {
    color: white;
    font-weight: 600;
}

.bg span {
    font-size: 50px;
}

.bg .dollar {
    font-size: 30px;
    vertical-align: top;
}

.schedule {
    padding: 50px 0;
    min-height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-line {
    margin: 0 auto;
    width: 100px;
    border-top: 1px solid #c4c4c4;
  }

.shop button {
    margin: 0 auto;
    border-radius: 20px;
}

footer {
    width: 100%;
    background-color: #5b6ceb;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100%;
}

footer h3 {
    margin: 35px 15px 40px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.text_about > p {
    padding: 0 15px;
}

.invisible {
    display: none;
}

.container_contact {
    padding-left: 15px;
    display: flex;
}

.container_contact img {
    float: left;
}

.cont2 .mail img {
    margin-top: 5px;
}

.container_contact p {
    padding-left: 40px;
}

.cont2 {
    padding-left: 180px;
}

.invisible .mail {
    margin-bottom: 19px;
}

.social {
    margin: 40px 15px 100px;
    display: flex;
    list-style: none;
}

.social a {
    margin-right: 15px;
    width: 22px;
    height: 22px;
    display: block;
    background-image: url(../img/social.png);
    background-size: auto 22px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.twitter a {
    background-position: -22px 0;
}

.facebook a {
    background-position: -44px 0;
}

.googleplus a {
    background-position: -66px 0;
}

.instagram a {
    background-position: -88px 0;
}

.rights {
    padding-top: 20px;
    width: 100%;
    height: 60px;
    background-color: #5364d8;
    color: #b7bffc;
    text-align: center;
}

@media (min-width:768px) {
    .menu_btn {
        display: none;
    }

    .menu_box {
        width: auto;
        height: auto;
        display: flex;
        position: static;
        visibility: visible;
        list-style: none;
        text-align: center;
        background-color: none;
        transition: none;
    }

    .menu_bar {
        padding-left: 30px;
    }

    .menu_item {
        white-space: nowrap;
    }

    .reservation {
        height: 600px;
    }

    .main_text {
        padding-left: 60px;
        width: 50%;
        text-align: start;
    }

    h1 {
        font-size: 36px;
    }

    .program {
        padding-top: 125px;
    }

    h2 {
        font-size: 28px;
    }

    .container_program {
        margin-top: 50px;
        margin-bottom: 160px;
    }

    .container_class {
        width: 355px;
        height: 410px;
        display: flex;
    }

    .container_class img {
        width: 165px;
        height: 100%;
        object-fit: cover;
    }

    h3 {
        margin: 20px 0;
    }

    .yoga_style {
        padding-top: 10px;
    }

    .image {
        width: 25%;
    }

    .about_us {
        padding-top: 170px;
        padding-bottom: 160px;
    }

    .text {
        width: 50%;
    }

    .swiper {
        width: 50%;
    }

    .text p {
        padding-right: 80px;
    }

    .elements .banner {
        padding-top: 120px;
    }

    .container_elements {
        width: 162px;
        height: 375px;
    }

    .container_elements h3 {
        margin: 30px 0;
    }

    .container_elements p {
        font-size: 16px;
    }

    footer h3 {
        margin: 100px auto 60px 15px;
    }

    footer p {
        padding: 0 15px 25px;
        width: 100%;
    }

    .invisible {
        display: flex;
        flex-direction: column;
    }

    .invisible h3 {
        margin: 0 15px 55px;
    }

    footer span {
        font-size: 16px;
    }

    @media (min-width:1400px) {
        header {
            padding: 0 115px;
        }

        .reservation .banner {
            padding: 0 175px;
            align-items: center;
        }

        .order {
            margin: 0 0 0 150px;
        }

        .main_text {
            margin: 0;
            padding-left: 90px;
        }

        .tc {
            text-transform: capitalize;
        }

        h1 {
            margin: 0 0 30px 0;
            font-size: 36px;
            font-weight: 600;
        }

        .main_text p {
            font-size: 38px;
        }

        .container_class {
            width: 570px;
            height: 300px;
        }
    
        .container_class img {
            width: 270px;
        }
    
        h3 {
            font-weight: 700;
            margin: 40px 0;
        }

        .gallery .image:hover {
            /* background-color: rgba(91, 108, 235, .7);
            cursor: url(../img/cursor.png); */
            cursor: pointer;
        }

        .about_us {
            padding: 175px 100px;
        }

        .elements .banner {
            padding: 120px 100px;
            background-image: 
            linear-gradient(to top, rgba(91, 108, 235, 1), rgba(91, 108, 235, 1)),
            url("../img/bg-02.jpg");
        }
        
        .container_elements {
            margin: 0 15px 30px 15px;
            width: 270px;
            height: 270px;
            text-align: center;
        }

        .col {
            margin: 100px 100px 50px;
            display: flex;
        }

        .text_about {
            width: 40%;
        }

        .col .text_about h3 {
            margin-top: 0;
            margin-bottom: 0 0 60px;
        }

        .container_contact,
        .invisible h3,
        .cont2 {
            padding-left: 100px;
        }

        .invisible h3 {
            margin-left: 0;
        }

        .social {
            margin: 0 115px 100px;
        }
    }

}